
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: rgb(39, 38, 38)
}


#card-container {
display: flex;
flex-wrap: wrap;
gap: 25px;
justify-content: center;
}


.cards {
    margin: 10px;
  }
  
  .card-back {
    width: 250px;
    height: 340px;
    overflow: auto;
    background: white;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 700ms;
  }
  
  .card-flip {
    width: 250px;
    height: 340px;
    perspective: 200px;
    display: flex;
  }
  
  .poster {
    width: 250px;
    height: 340px;
    box-shadow: 6px 6px 10px 5px rgba(5, 1, 3, 0.25);
    border-radius: 5px;
  }
  
  .card-front {
    background: transparent;
    z-index: 1;
  }
  
  
  .card-flip:hover .card-front {
    transform: rotateY(180deg);
    z-index: 0;
  }
  
  .card-flip:hover .card-back {
    transform: rotateY(0);
    z-index: 1;
  }

/* 
.card {
margin: 10px;
}

.card-back {
width: 250px;
height: 340px;
overflow: auto;
background: white;
transform: rotateY('-180deg');
backface-visibility: hidden;
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
padding: 10px;
border-radius: 10px;
transition: 700ms;
}

.card-flip {
width: 250px;
height: 340px;
perspective: 250px;
display: flex;
}

.poster {
width: 250px;
height: 340px;
box-shadow: 6px 6px 10px 5px black;
border-radius: 10px;
}

.card-front {
background: transparent;
z-index: 1;
}

.card-flip:hover .card-back{
transform: rotate(180deg);
z-index: 1;
}

.card-flip:hover .card-front{
    transform: rotate(180deg);
    z-index: 0;
    }
 */


/* 
.card {
background: rgb(7, 7, 39);
display: flex;
flex-direction: column;
width: 250px;
padding: 5px;
color: antiquewhite;
border-radius: 10px;
font-family:'Arial Narrow';
text-align: center;
justify-content: center;
}

.card img {
min-width: 160px;
max-width: 230px;
min-height: 100px;
max-height: 120px;
margin: auto;
}

/* .card h3 {
font-size: 10px;
} */
    
